@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    /*font-family: 'Maven Pro', sans-serif;*/
    /*font-family: 'Spartan', sans-serif;
    /* font-weight: bold;*/
}

a {
    text-decoration: none;
}

a:visited {
    color: #000;
}

#bottom-menu button {
    display: none;
}

header img {
    width: 50px;
    height: 50px;
}

header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
}

.logo {
    margin: 1%;
    margin-left: 0;
}

.logo img {
    width: 70px;
    height: 70px;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a {
    margin: 3%;
}

.sign,
.sign a {
    display: flex;
    align-items: center;
}

svg {
    vertical-align: middle;
    width: 32px;
    height: 32px;
    overflow: visible;
    fill: #000;
}

svg:hover,
.location:hover {
    fill: #009100;
    transition: fill, 0.3s ease-in-out;
}

.location {
    margin: 1rem;
}

path {
    margin-right: 5px;
}

.sign img {
    width: 20px;
    height: 26px;
}

.sign-btn {
    margin: auto 1rem;
}

.sign-btn {
    display: inline-block;
    cursor: pointer;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.sign-btn:last-of-type {
    background-color: #000;
    color: #fff;
}

.burger {
    margin-right: 2rem;
    display: none;
}

.burger div {
    width: 25px;
    height: 4px;
    background-color: #000;
    margin: 5px;
}

@media screen and (max-width: 788px) {
    .burger {
        display: block;

        position: absolute;
        right: 0;
        width: 44px;
    }

    .menu {
        display: none;
    }
}

#main {
    margin: 0 5%;
}

.mask {
    background-color: #d8e8e3;
    font-size: 19px;
    display: flex;
    text-align: center;
    padding: 32px 0;
}

.mask-inner {
    position: relative;
    max-width: 60%;
    text-align: center;
    margin: auto;
}

.mask a,
#game-rules a {
    text-decoration: underline;
}

.mask a:hover,
#game-rules a {
    text-decoration: none;
}

.block {
    margin: 2rem 0;
    color: #fff;
    display: flex;
    background-color: #1e3932;
}

.inner {
    align-items: center;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /*padding: 32px 48px;*/
}

.inner div {
    text-align: center;
    padding: 32px 48px;
}

.block-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.block-img img {
    max-width: 100%;
}


#blocks1 p {
    margin: 0;
}

.play-now,
.learn-more,
.black-border-btn {
    display: inline-block;
    cursor: pointer;
    margin-top: 32px;
    background: none;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.black-border-btn {
    color: #1e3932;
    border-color: #1e3932;
}

.play-now:visited,
.learn-more:visited {
    color: #fff;
}

.play-now:hover,
.learn-more:hover,
.black-border-btn:hover {
    opacity: 0.7;
    filter: contrast(1.5);
}

.light {
    background-color: #f2f0eb;
    color: #1e3932;
}

#cards {
    display: flex;
    justify-content: space-between;

}

.card {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.card-inner {
    background-color: #d4e9e2;
    text-align: center;
    padding: 0 40px 32px 40px;
}

#game-rules {
    text-align: center;
    font-size: 14px;
    font-size: 14px;
    border-bottom-style: 12px solid grey;
}

#game-rules a {
    display: inline;
}

#game-rules div {
    margin: 32px auto;
    border-bottom-style: 12px solid grey;
}

#bottom-menu {
    display: flex;
    padding: 0 24px;
}

#bottom-menu div {
    margin-right: 50px;
}

#bottom-menu button {
    background: transparent;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 20px;
    height: 20px;
    background-image: url(images/down-arrow.svg);
}


#bottom-menu div * {
    margin-bottom: 25px;
}

#bottom-menu p {
    font-size: 19px;
}

#bottom-menu a {
    display: block;
    font-size: 14px;
}

hr {
    display: block;
    border: none;
    background-color: : rgba(0, 0, 0, .1);
    width: 80%;
    width: 70vw;
    height: 2px;
    margin-bottom: 55px;
}

footer {
    margin: 40px;
}

footer img {
    width: 35px;
    height: 35px;
    margin: 30px 5px;
}

footer img:hover {
    border-radius: 50%;
    box-shadow: 0 0 7px 7px rgba(153, 148, 148, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.arrow:hover {
    border-radius: 50%;
    box-shadow: 0 0 10px 10px rgba(153, 148, 148, 0.3);
    transition: box-shadow 0.1s ease-out;
}

.vl {
    display: inline;
    margin: 10px;
    border-left: 2px solid green;
    height: 16px;
}

.menu,
.game-rules,
#copyright {
    font-size: 14px;
}

.blocks a,
#cards a,
#bottom-menu a {
    font-size: 16px;
}

.mask,
#bottom-menu p,
.f19 {
    font-size: 19px;
}

.f24 {
    font-size: 24px;
}

.f50 {
    font-size: 50px;
}

@media screen and (max-width: 1439px) {
    #main {
        margin: 0;
    }
}

@media screen and (max-width: 1279px) {
    .inner div {
        padding: 32px 40px;
    }
}

@media screen and (max-width: 1023px) {
    .inner div {
        padding: 32px 24px;
    }

    .card-inner {
        padding: 0 24px 32px 24px;
    }

    #bottom-menu a {
        display: none;
    }

    #bottom-menu {
        flex-direction: column;
    }

    #bottom-menu button {
        display: inline-block;
        margin: auto 0 auto;
        border-radius: 50%;
    }

    #bottom-menu div {
        display: flex;
        justify-content: space-between;
    }

    #bottom-menu div * {
        margin-bottom: 0;

    }
}

@media screen and (max-width: 767px) {
    .column {
        flex-direction: column;
    }

    .column-reverse {
        flex-direction: column-reverse;
    }

    #cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
    }

    .inner div {
        padding: 32px 16px;
    }

    .card-inner {
        padding: 0 16px 32px 16px;
    }

    .game-rules,
    #copyright {
        font-size: 13px;
    }

    .blocks a,
    #cards a {
        font-size: 14px;
    }

    .mask,
    #bottom-menu p,
    .f19 {
        font-size: 16px;
    }

    .f24 {
        font-size: 22px;
    }

    .f50 {
        font-size: 28px;
    }
}

@media screen and (max-width: 373px) {
    .f24 {
        font-size: 19px;
    }

    .f50 {
        font-size: 24px;
    }
}