@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    /*font-family: 'Maven Pro', sans-serif;*/
    /*font-family: 'Spartan', sans-serif;
    /* font-weight: bold;*/
}

a {
    text-decoration: none;
}

header img {
    width: 50px;
    height: 50px;
}

header {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
}

.logo {
    margin: 1%;
    margin-left: 0;
    width: 2%;
}

button {
    border: none;
    border: 2px solid;
    border-radius: 20px;
}

.menu {
    flex: 1;
    margin: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    white-space: nowrap;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav a {
    margin: 3%;
}

.sign,
.sign a {
    display: flex;
    align-items: center;
}

.sign img {
    width: 20px;
    height: 26px;
}

.sign * {
    margin: auto 1rem;
}

.sign-btn {
    display: inline-block;
    cursor: pointer;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.sign-btn:last-of-type {
    background-color: #000;
    color: #fff;
}

.burger {
    margin-right: 2rem;
    display: none;
}

.burger div {
    width: 25px;
    height: 4px;
    background-color: royalblue;
    margin: 5px;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 1.4rem;
    }

    .burger {
        display: block;

        position: absolute;
        right: 0;
        width: 44px;
    }

    .menu {
        display: none;
    }
}

#main section {
    margin: 0 5%;
}

.mask {
    background-color: #d8e8e3;
    height: 162px;
    font-size: 19px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 32px 0;
}

.mask-inner {
    position: relative;
    max-width: 60%;
    text-align: center;
    margin: auto;
}

#block {
    margin: 2rem 0;
    color: #fff;
    display: flex;
}

.inner {
    align-items: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #1e3932;
    width: 50%;
    /*height: 625px;*/
    padding: 32px 48px;
}

.inner div {
    text-align: center;
    padding: 50px;
}



#blocks1 p {
    margin: 0;
}

.play-now,
.learn-more,
.black-border-btn {
    display: inline-block;
    cursor: pointer;
    margin-top: 32px;
    background: none;
    color: #fff;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.black-border-btn {
    color: #1e3932;
    border-color: #1e3932;
}

#blocks img {
    width: 50%;
}

.light {
    background-color: #f2f0eb;
    color: #1e3932;
}

#cards {
    display: flex;
    justify-content: space-between;

}

.card {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.card-inner {
    background-color: #d4e9e2;
    text-align: center;
    padding: 20px;
}

#game-rules {
    text-align: center;
    font-size: 14px;
    border-bottom-style: 12px solid grey;
}

#game-rules a {
    display: inline;
}

#game-rules div {
    margin: 32px auto;
    border-bottom-style: 12px solid grey;
}

#bottom-menu {
    display: flex;
    padding: 0 24px;
}

#bottom-menu div {
    max-width: 190px;
    margin-right: 50px;
}

#bottom-menu div * {
    margin-bottom: 25px;
}

#bottom-menu p {
    font-size: 19px;

}

#bottom-menu a {
    display: block;
    font-size: 14px;

}

hr {
    display: block;
    border: none;
    background-color: : rgba(0, 0, 0, .1);
    width: 80%;
    width: 70vw;
    height: 2px;
    margin-bottom: 55px;
}

footer {
    margin: 40px;
}

footer img {
    width: 35px;
    height: 35px;
    margin: 30px 5px;
}

footer a {
    font-size: 16px;
}

footer p {
    font-size: 14px;
}

.vl {
    display: inline;
    margin: 10px;
    border-left: 2px solid green;
    height: 16px;
}